* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: sans-serif;
}



.hero-section {
    padding: 30px 300px;
    background-color:rgb(9, 136, 9);
    color:azure;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    gap: 26px;
    list-style: none;
    font-size: 20px;
    margin-bottom: 100px;
}


header p {
    font-size: 26px;
}

h1 {
    font-size: 48px;
}

h1 span {
    font-size: 66px;
}

nav span {
    font-size: 24px;
}


.hero-content {
    display: flex;
    gap: 30px;
}

.hero-content__right-part {
    flex: 1 1 30%;   
}

.hero-content__left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text {
    font-size: 20px;
}

button {
    width: 140px;
    background-color: rgb(196, 242, 116);
    text-align: center;
    color: rgb(9, 136, 9);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 0;
}

.header-explanation {
    font-size: 28px;
}

.centered-container {
    display: flex;
    justify-content: center;
}

.info-content {
    display: flex;
    gap: 35px;
    margin-bottom: 100px;
    
}

.info__img-and-caption {
    display:flex;
    flex-direction: column;
    gap: 20px;
    width:200px;
    text-align: center;
    font-size: 18px;
}

.info-section header {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    color: rgb(9, 136, 9);

}

figure img {
    border-radius: 10px;
    border: 3px solid rgb(9, 136, 9);
}

.background-color-full-width {
    background-color: rgb(239, 255, 205);
    margin-bottom: 100px; 
}

.inspiration-section {
    padding: 100px 0;

}

.inspiration-quote {
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
    width: 905px;
    padding-bottom: 30px;
}

.author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    
}

.cta-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:1300px;
    height: 150px;
    margin-bottom: 100px;
    background-color: rgb(196, 242, 116);
    border-radius: 10px;
    color: rgb(9, 136, 9);
}

.cta-left-part h2 {
    font-size: 30px;
    font-weight: 800;
}

.cta-left-part p {
    font-size: 22px;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 136, 9);
    color: white;
    font-size: 20px;
    font-weight: 900;
}